
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.profile img {
    width: 10%;
    border-radius: 50%;
}

.profile h1 {
    font-size: 2em;
    margin: 10px 0;
}

.profile p {
    font-style: italic;
}

section {
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

.cv img {
    display: block; 
    margin: 0 auto; 
    max-width: 100%; 
    height: auto; 
    border: 2px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


.cv ul {
    list-style-type: none;
    padding: 0;
}

.cv ul li {
    margin: 5px 0;
}

.Projects .projects {
    display: flex;
    flex-direction: column; 
    gap: 30px; 
    align-items: center; 
}

.project {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; 
    text-align: center; 
}

.project-image {
    width: 100%; 
    max-width: 500px;
    margin: 20px auto; 
    display: block; 
    border-radius: 15px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.project-image:hover {
    transform: scale(1.1); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4); 
}


.project h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.project p {
    font-size: 1em;
    color: #555; /
}


.contact-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.contact-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.contact-item:hover img {
    transform: scale(1.2);
}

.contact-item span {
    margin-top: 5px;
    font-size: 1em;
}
